.cardicon{
    width: 30px;
    padding-top: 14px;
    padding-left: 0px;
    padding-right:10px;
    right: 2px;
    top: 18px;
}

.padding{
    padding-left: 12px;
    padding-top: 12px;
}
.padding-grad{
    padding-top : 14px;
   
}
.cardicon2{
    width: 30px;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 0px;
    border-right:0px; 
    right:30px;
    top:18px;
}
.icon{
    padding: 5px;
    cursor: pointer;
 }
 