<div [formGroup]="roundForm">
 <h2 mat-dialog-title>Add New Round</h2> 
  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Enter Round Name
        </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput formControlName="roundName" placeholder="Enter Round name">
          </mat-form-field>   
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Select Category
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-select placeholder="Select Category" formControlName="category">
                <mat-option *ngFor="let category of categoryList" [value]="category.name">
                  {{ category.name }}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Count" formControlName="numberOfQuestion" min="1" >
          </mat-form-field>
          <mat-form-field>
              <input matInput type="number" placeholder="Points" formControlName="point" min="1" >
            </mat-form-field>
            <button mat-button color="accent" (click)="pushCategory()">Add</button>
      </mat-expansion-panel>
    </mat-accordion>
           
  </mat-dialog-content>
</div>