<div>
    <div class=row>
      <div class="filter col-sm-4" *ngFor="let round of roundlist; let i=index">
        <mat-card class="card">
          <div class="row">
            <div class="col-sm-2">
              <div class="grad1 padding-grad" [ngStyle]="bgChange(i)">
                <span class=" padding-grad text">{{round.roundName[0]}}</span>
              </div>
            </div>
            <div class="padding col-sm-6">
              <div>
                <mat-card-title>&nbsp;          
                  {{ round.roundName }}           
                </mat-card-title>          
              </div> 
            </div>
            <div class="col-sm-2">  
              <div class="cardicon2"><span class="icon"><mat-icon (click)="addNewRound(round._id)">edit</mat-icon></span></div>
            </div>
            <div class="col-sm-2">  
              <div class="cardicon"><span class="icon"><mat-icon (click)="deleteRound(round._id)">delete</mat-icon></span></div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  <button mat-fab class="fabbtn" title="Add New Round" (click)="addNewRound()"><mat-icon>add</mat-icon></button> 
</div>